$em-base: 16px;

:root {
  font-size: $em-base;
}

body {
  background-color: #fafafa;
  color: #424242;
}

aside {
  float: left;
  width: 20%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
}

main {
  float: left;
  width: 80%;
  box-sizing: border-box;
}

h1 {
  font-size: rem(32);
  margin: 0;
  line-height: rem(48);
  margin-bottom: rem(16);
}

h2 {
  font-size: rem(24);
  margin: 0;
  margin-bottom: rem(16);
  line-height: rem(32);
}

h3 {
  font-size: rem(18);
  margin: 0;
  margin-bottom: rem(0);
  line-height: rem(24);
  font-weight: bold;
}

p {
  font-size: rem(16);
  margin: 0;
  margin-bottom: rem(16);
  line-height: rem(24);
}

section {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

pre {
  margin: rem(16px) 0;
}

.code-block {
  padding: rem(20);
}

button {
  display: inline-block;
  background-color: #03A9F4;
  padding: rem(8);
  color: #fff;
  border: 1px solid #039BE5;
  border-radius: em(3, 16);
  font-size: rem(16);
  box-shadow: 0 em(3, 16) em(4, 16) 0 rgba(0,0,0,.26);

  &:hover {
    background-color: #039BE5;
  }
}

